body, html {
    background: black;
    font-family: 'Press Start 2P', sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#root canvas {
    display: block;
}