body,
html {
    background: black;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 30px;
    padding-top: 50px;
    caret-color: transparent;
}

#spanWho,
#spanWinner {
    color: rgb(87, 136, 87);
    font-weight: 600;
    font-size: 24px;
}

#area {
    display: flex;
    flex-wrap: wrap;
    width: 498px;
    height: 498px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
}

.item {
    cursor: pointer;
    position: relative;
    width: 146px;
    height: 146px;
    display: flex;
    padding: 8px;
    border: 2px solid #fff;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.item:hover {
    background: rgba(255, 255, 255, 0.13);
}

.winColor {
    color: rgb(87, 136, 87);
    font-size: 46px;
    font-weight: 900;
}

.winner {
    display: none;
}

#newGame {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: 2px solid #fff;
    width: 200px;
    height: 64px;
}

#newGame:hover {
    background: rgba(255, 255, 255, 0.13);
}

#newGame:active {
    color: rgb(87, 136, 87);
}